extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
      .container
        a.navbar-brand(href='#')
          span Fishing
          | Rod
        button.navbar-toggler(aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation' data-bs-target='#navbarSupportedContent' data-bs-toggle='collapse' type='button')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ms-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link(href='/home') Home
            li.nav-item
              a.nav-link(href='/about') About
            li.nav-item
              a.nav-link(href='/product') Products
            li.nav-item
              a.nav-link(href='/contact') Contact
            li.nav-item
              a.appbtn(href='/cart') Shop
            li.nav-item
              a.logoutbtn(href='/cart') Logout
  .br.my-3
  br
  #about.my-5
    
              form#contact-form(role='form')
                .controls
                  .row
                    .col-md-6
                      .form-group
                        label(for='form_name') Firstname *
                        input#form_name.form-control(type='text' name='name' placeholder='Please enter your firstname *' required='required' data-error='Firstname is required.')
                    .col-md-6
                      .form-group
                        label(for='form_lastname') Lastname *
                        input#form_lastname.form-control(type='text' name='surname' placeholder='Please enter your lastname *' required='required' data-error='Lastname is required.')
                  .row
                    .col-md-6
                      .form-group
                        label(for='form_email') Email *
                        input#form_email.form-control(type='email' name='email' placeholder='Please enter your email *' required='required' data-error='Valid email is required.')
                    .col-md-6
                      .form-group
                        label(for='form_need') Please specify your need *
                        select#form_need.form-control(name='need' required='required' data-error='Please specify your need.')
                          option(value='' selected='' disabled='') --Select Your Issue--
                          option Request Invoice for order
                          option Request order status
                          option Haven't received cashback yet
                          option Other
                  .row
                    .col-md-12
                      .form-group
                        label(for='form_message') Message *
                        textarea#form_message.form-control(name='message' placeholder='Write your message here.' rows='4' required='required' data-error='Please, leave us a message.')
                    .col-md-12
                      input.btn.btn-success.btn-send.pt-2.btn-block.mt-4(type='submit' value='Send Message')
      

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js')

