extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
      .container
        a.navbar-brand(href='#')
          span Fishing
          | Rod
        button.navbar-toggler(aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation' data-bs-target='#navbarSupportedContent' data-bs-toggle='collapse' type='button')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ms-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link(href='/home') Home
            li.nav-item
              a.nav-link(href='/about') About
            li.nav-item
              a.nav-link(href='/product') Products
            li.nav-item
              a.nav-link(href='/contact') Contact
            li.nav-item
              a.appbtn(href='/shop') Shop
            li.nav-item
              a.logoutbtn(href='/') Logout
  .br.my-3
  br
  section(style='background-color: #eee;')
  .container.py-5
    .row
        .col-12.col-sm-8.col-md-6.col-lg-4
            .card
            img.card-img(src='https://cf.shopee.ph/file/dcaf0fd7add34c0cf8fa81b9283c5e8e' alt='Vans')
            .card-img-overlay.d-flex.justify-content-end
                a.card-link.text-danger.like(href='#')
                i.fas.fa-heart
            .card-body
                h4.card-title LEO 1.8m/2.4m Fishing Rod and Reel Set with Carrier Bag
                h6.card-subtitle.mb-2.text-muted Brand New
                p.card-text
                | This is a portable fishing rod set including telescopic fishing rod, spinning fishing reel, 100m fishing line, artificial lure, fishing hook, jig head, barrel spinner, small fish, fishing buoy and a portable light fishing bag. Tackle kits are suitable for fishing enthusiasts and new anglers to carry on the go.
                .buy.d-flex.justify-content-between.align-items-center
                .price.text-success
                    h5.mt-4 $125
                a.btn.btn-danger.mt-3(href='/checkout')
                    | Add to Cart
        .col-12.col-sm-8.col-md-6.col-lg-4
            .card
            img.card-img(src='https://cf.shopee.ph/file/dcaf0fd7add34c0cf8fa81b9283c5e8e' alt='Vans')
            .card-img-overlay.d-flex.justify-content-end
                a.card-link.text-danger.like(href='#')
                i.fas.fa-heart
            .card-body
                h4.card-title LEO 1.8m/2.4m Fishing Rod and Reel Set with Carrier Bag
                h6.card-subtitle.mb-2.text-muted Brand New
                p.card-text
                | This is a portable fishing rod set including telescopic fishing rod, spinning fishing reel, 100m fishing line, artificial lure, fishing hook, jig head, barrel spinner, small fish, fishing buoy and a portable light fishing bag. Tackle kits are suitable for fishing enthusiasts and new anglers to carry on the go.
                .buy.d-flex.justify-content-between.align-items-center
                .price.text-success
                    h5.mt-4 $125
                a.btn.btn-danger.mt-3(href='/checkout')
                    | Add to Cart
        .col-12.col-sm-8.col-md-6.col-lg-4
            .card
            img.card-img(src='https://cf.shopee.ph/file/dcaf0fd7add34c0cf8fa81b9283c5e8e' alt='Vans')
            .card-img-overlay.d-flex.justify-content-end
                a.card-link.text-danger.like(href='#')
                i.fas.fa-heart
            .card-body
                h4.card-title LEO 1.8m/2.4m Fishing Rod and Reel Set with Carrier Bag
                h6.card-subtitle.mb-2.text-muted Brand New
                p.card-text
                | This is a portable fishing rod set including telescopic fishing rod, spinning fishing reel, 100m fishing line, artificial lure, fishing hook, jig head, barrel spinner, small fish, fishing buoy and a portable light fishing bag. Tackle kits are suitable for fishing enthusiasts and new anglers to carry on the go.
                .buy.d-flex.justify-content-between.align-items-center
                .price.text-success
                    h5.mt-4 $125
                a.btn.btn-danger.mt-3(href='/checkout')
                    | Add to Cart
        .col-12.col-sm-8.col-md-6.col-lg-4
            .card
            img.card-img(src='https://cf.shopee.ph/file/dcaf0fd7add34c0cf8fa81b9283c5e8e' alt='Vans')
            .card-img-overlay.d-flex.justify-content-end
                a.card-link.text-danger.like(href='#')
                i.fas.fa-heart
            .card-body
                h4.card-title LEO 1.8m/2.4m Fishing Rod and Reel Set with Carrier Bag
                h6.card-subtitle.mb-2.text-muted Brand New
                p.card-text
                | This is a portable fishing rod set including telescopic fishing rod, spinning fishing reel, 100m fishing line, artificial lure, fishing hook, jig head, barrel spinner, small fish, fishing buoy and a portable light fishing bag. Tackle kits are suitable for fishing enthusiasts and new anglers to carry on the go.
                .buy.d-flex.justify-content-between.align-items-center
                .price.text-success
                    h5.mt-4 $125
                a.btn.btn-danger.mt-3(href='/checkout')
                    | Add to Cart
        .col-12.col-sm-8.col-md-6.col-lg-4
            .card
            img.card-img(src='https://cf.shopee.ph/file/dcaf0fd7add34c0cf8fa81b9283c5e8e' alt='Vans')
            .card-img-overlay.d-flex.justify-content-end
                a.card-link.text-danger.like(href='#')
                i.fas.fa-heart
            .card-body
                h4.card-title LEO 1.8m/2.4m Fishing Rod and Reel Set with Carrier Bag
                h6.card-subtitle.mb-2.text-muted Brand New
                p.card-text
                | This is a portable fishing rod set including telescopic fishing rod, spinning fishing reel, 100m fishing line, artificial lure, fishing hook, jig head, barrel spinner, small fish, fishing buoy and a portable light fishing bag. Tackle kits are suitable for fishing enthusiasts and new anglers to carry on the go.
                .buy.d-flex.justify-content-between.align-items-center
                .price.text-success
                    h5.mt-4 $125
                a.btn.btn-danger.mt-3(href='/checkout')
                    | Add to Cart
        .col-12.col-sm-8.col-md-6.col-lg-4
            .card
            img.card-img(src='https://cf.shopee.ph/file/dcaf0fd7add34c0cf8fa81b9283c5e8e' alt='Vans')
            .card-img-overlay.d-flex.justify-content-end
                a.card-link.text-danger.like(href='#')
                i.fas.fa-heart
            .card-body
                h4.card-title LEO 1.8m/2.4m Fishing Rod and Reel Set with Carrier Bag
                h6.card-subtitle.mb-2.text-muted Brand New
                p.card-text
                | This is a portable fishing rod set including telescopic fishing rod, spinning fishing reel, 100m fishing line, artificial lure, fishing hook, jig head, barrel spinner, small fish, fishing buoy and a portable light fishing bag. Tackle kits are suitable for fishing enthusiasts and new anglers to carry on the go.
                .buy.d-flex.justify-content-between.align-items-center
                .price.text-success
                    h5.mt-4 $125
                a.btn.btn-danger.mt-3(href='/checkout')
                    | Add to Cart
        .col-12.col-sm-8.col-md-6.col-lg-4
            .card
            img.card-img(src='https://cf.shopee.ph/file/dcaf0fd7add34c0cf8fa81b9283c5e8e' alt='Vans')
            .card-img-overlay.d-flex.justify-content-end
                a.card-link.text-danger.like(href='#')
                i.fas.fa-heart
            .card-body
                h4.card-title LEO 1.8m/2.4m Fishing Rod and Reel Set with Carrier Bag
                h6.card-subtitle.mb-2.text-muted Brand New
                p.card-text
                | This is a portable fishing rod set including telescopic fishing rod, spinning fishing reel, 100m fishing line, artificial lure, fishing hook, jig head, barrel spinner, small fish, fishing buoy and a portable light fishing bag. Tackle kits are suitable for fishing enthusiasts and new anglers to carry on the go.
                .buy.d-flex.justify-content-between.align-items-center
                .price.text-success
                    h5.mt-4 $125
                a.btn.btn-danger.mt-3(href='/checkout')
                    | Add to Cart
        .col-12.col-sm-8.col-md-6.col-lg-4
            .card
            img.card-img(src='https://cf.shopee.ph/file/dcaf0fd7add34c0cf8fa81b9283c5e8e' alt='Vans')
            .card-img-overlay.d-flex.justify-content-end
                a.card-link.text-danger.like(href='#')
                i.fas.fa-heart
            .card-body
                h4.card-title LEO 1.8m/2.4m Fishing Rod and Reel Set with Carrier Bag
                h6.card-subtitle.mb-2.text-muted Brand New
                p.card-text
                | This is a portable fishing rod set including telescopic fishing rod, spinning fishing reel, 100m fishing line, artificial lure, fishing hook, jig head, barrel spinner, small fish, fishing buoy and a portable light fishing bag. Tackle kits are suitable for fishing enthusiasts and new anglers to carry on the go.
                .buy.d-flex.justify-content-between.align-items-center
                .price.text-success
                    h5.mt-4 $125
                a.btn.btn-danger.mt-3(href='/checkout')
                    | Add to Cart
        .col-12.col-sm-8.col-md-6.col-lg-4
            .card
            img.card-img(src='https://cf.shopee.ph/file/dcaf0fd7add34c0cf8fa81b9283c5e8e' alt='Vans')
            .card-img-overlay.d-flex.justify-content-end
                a.card-link.text-danger.like(href='#')
                i.fas.fa-heart
            .card-body
                h4.card-title LEO 1.8m/2.4m Fishing Rod and Reel Set with Carrier Bag
                h6.card-subtitle.mb-2.text-muted Brand New
                p.card-text
                | This is a portable fishing rod set including telescopic fishing rod, spinning fishing reel, 100m fishing line, artificial lure, fishing hook, jig head, barrel spinner, small fish, fishing buoy and a portable light fishing bag. Tackle kits are suitable for fishing enthusiasts and new anglers to carry on the go.
                .buy.d-flex.justify-content-between.align-items-center
                .price.text-success
                    h5.mt-4 $125
                a.btn.btn-danger.mt-3(href='/checkout')
                    | Add to Cart
        .col-12.col-sm-8.col-md-6.col-lg-4
            .card
            img.card-img(src='https://cf.shopee.ph/file/dcaf0fd7add34c0cf8fa81b9283c5e8e' alt='Vans')
            .card-img-overlay.d-flex.justify-content-end
                a.card-link.text-danger.like(href='#')
                i.fas.fa-heart
            .card-body
                h4.card-title LEO 1.8m/2.4m Fishing Rod and Reel Set with Carrier Bag
                h6.card-subtitle.mb-2.text-muted Brand New
                p.card-text
                | This is a portable fishing rod set including telescopic fishing rod, spinning fishing reel, 100m fishing line, artificial lure, fishing hook, jig head, barrel spinner, small fish, fishing buoy and a portable light fishing bag. Tackle kits are suitable for fishing enthusiasts and new anglers to carry on the go.
                .buy.d-flex.justify-content-between.align-items-center
                .price.text-success
                    h5.mt-4 $125
                a.btn.btn-danger.mt-3(href='/checkout')
                    | Add to Cart
        .col-12.col-sm-8.col-md-6.col-lg-4
            .card
            img.card-img(src='https://cf.shopee.ph/file/dcaf0fd7add34c0cf8fa81b9283c5e8e' alt='Vans')
            .card-img-overlay.d-flex.justify-content-end
                a.card-link.text-danger.like(href='#')
                i.fas.fa-heart
            .card-body
                h4.card-title LEO 1.8m/2.4m Fishing Rod and Reel Set with Carrier Bag
                h6.card-subtitle.mb-2.text-muted Brand New
                p.card-text
                | This is a portable fishing rod set including telescopic fishing rod, spinning fishing reel, 100m fishing line, artificial lure, fishing hook, jig head, barrel spinner, small fish, fishing buoy and a portable light fishing bag. Tackle kits are suitable for fishing enthusiasts and new anglers to carry on the go.
                .buy.d-flex.justify-content-between.align-items-center
                .price.text-success
                    h5.mt-4 $125
                a.btn.btn-danger.mt-3(href='/checkout')
                    | Add to Cart
        .col-12.col-sm-8.col-md-6.col-lg-4
            .card
            img.card-img(src='https://cf.shopee.ph/file/dcaf0fd7add34c0cf8fa81b9283c5e8e' alt='Vans')
            .card-img-overlay.d-flex.justify-content-end
                a.card-link.text-danger.like(href='#')
                i.fas.fa-heart
            .card-body
                h4.card-title LEO 1.8m/2.4m Fishing Rod and Reel Set with Carrier Bag
                h6.card-subtitle.mb-2.text-muted Brand New
                p.card-text
                | This is a portable fishing rod set including telescopic fishing rod, spinning fishing reel, 100m fishing line, artificial lure, fishing hook, jig head, barrel spinner, small fish, fishing buoy and a portable light fishing bag. Tackle kits are suitable for fishing enthusiasts and new anglers to carry on the go.
                .buy.d-flex.justify-content-between.align-items-center
                .price.text-success
                    h5.mt-4 $125
                a.btn.btn-danger.mt-3(href='/checkout')
                    | Add to Cart

      
  

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js')

